 
  <div class="card list-card "  >
    <div class="card-header">Daftar Karyawan</div>
    <div class="card-body ">
      <div class="row">
      <div class="col-md-4" style="margin-top: 10px; margin-bottom: 10px;" >
        <form (ngSubmit)="$event.preventDefault(); goToPage(0)"> 
          <div class="btn-group ">
            <input type="search" name="search" [(ngModel)]="tableRequest.search" placeholder="Search" class="form-control" />
            <input type="submit" class="btn btn-success  "  value="Search" />
          </div>
        </form>
      </div>
      <div class="col-4 text-center" *ngIf="loading">
        <h3>Loading</h3>
      </div>
      <div class="col-12">
        <app-pagination-button  (goToPage) = "goToPage($event)"
          currentPage=   {{tableRequest.page}}  limit = {{tableRequest.limit}} totalData = {{tableRequest.totalData}}
          ></app-pagination-button>
        </div>
      </div> 
      <div  style="padding:10px; overflow: scroll; height: 70vh">
        <table class="table ">
          <thead>
            <th>No</th>
            <th class="sortable-header" *ngFor="let header of tableHeaders" (click)="sortBy(header.name)">
              <div style="min-width: 100px;">
                {{ header.label }}
                <span *ngIf="header.name == tableRequest.orderBy " style="float: right;">
                  <i [ngClass]="tableRequest.orderType == 'asc'? 'fas fa-long-arrow-alt-up' : 'fas fa-long-arrow-alt-down'"></i>
                </span>
                <span *ngIf="header.name != tableRequest.orderBy " style="float: right;">
                    <i class="fas fa-sort"></i>
                </span>
              </div>
            </th>
            <th>Aksi</th>
          </thead>
           
          <tbody  *ngIf="employees != undefined">
            <tr
              *ngFor="let employee of employees; let i = index"
              [attr.data-index]="i"
            >
              <td>{{ i + 1 + (tableRequest.page * tableRequest.limit) }}</td>
              <td>{{ employee.name }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.address }}</td>
              <td>{{ employee.birthDateString }}</td>
              <td>{{ employee.position?.name }}</td>
              <td>{{ employee.idNumber }}</td>
              <td>{{ employee.genderString }}</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-dark btn-sm" (click)="showUpdateForm(employee)">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="btn btn-danger btn-sm" (click)="deleteRecord(employee)">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
  </div>

